/* :::COLORES DE FONDO::: */

.bg-white {
  background-color: $white !important;
}
.bg-red {
  background-color: $red !important;
}
.bg-turquoise {
  background-color: $turquoise !important;
}
.bg-blue {
  background-color: $blue !important;
}
.bg-yellow {
  background-color: $yellow !important;
}
.bg-orange {
  background-color: $orange !important;
}
.bg-green {
  background-color: $green !important;
}
.bg-magenta {
  background-color: $magenta !important;
}
.bg-black {
  background-color: $black !important;
}
.bg-fuchsia {
  background-color: $fuchsia !important;
}
.bg-lightblue {
  background-color: $lightblue !important;
}
.bg-silver {
  background-color: $silver !important;
}
.bg-gray {
  background-color: $gray !important;
}

/* :::COLORES DE TEXTO::: */

.txt-white {
  color: $white !important;
}
.txt-red {
  color: $red !important;
}
.txt-turquoise {
  color: $turquoise !important;
}
.txt-blue {
  color: $blue !important;
}
.txt-yellow {
  color: $yellow !important;
}
.txt-orange {
  color: $orange !important;
}
.txt-green {
  color: $green !important;
}
.txt-magenta {
  color: $magenta !important;
}
.txt-black {
  color: $black !important;
}
.txt-fuchsia {
  color: $fuchsia !important;
}
.txt-lightblue {
  color: $lightblue !important;
}
.txt-lightsilver {
  color: $lightsilver !important;
}
.txt-silver {
  color: $silver !important;
}
.txt-gray {
  color: $gray !important;
}

/* :::COLORES DE HOVERS PARA BACKGROUND::: */

.h-bg-opacity0 {
  &:hover {
    opacity: 0 !important;
  }
}

.h-bg-opacity4 {
  &:hover {
    opacity: 0.4 !important;
  }
}

.h-bg-opacity8 {
  &:hover {
    opacity: 0.8 !important;
  }
}

.h-bg-blue {
  &:hover {
    background-color: $blue !important;
  }
}

.h-bg-white {
  &:hover {
    background-color: $white !important;
  }
}

.h-bg-red {
  &:hover {
    background-color: $red !important;
  }
}

.h-bg-orange {
  &:hover {
    background-color: $orange !important;
  }
}

.h-bg-yellow {
  &:hover {
    background-color: $yellow !important;
  }
}

.h-bg-fuchsia {
  &:hover {
    background-color: $fuchsia !important;
  }
}

.h-bg-green {
  &:hover {
    background-color: $green !important;
  }
}

.h-bg-turquoise {
  &:hover {
    background-color: $turquoise !important;
  }
}

.h-bg-gray {
  &:hover {
    background-color: $gray !important;
  }
}

.h-bg-silver {
  &:hover {
    background-color: $silver !important;
  }
}

.h-bg-lightblue {
  &:hover {
    background-color: $lightblue !important;
  }
}

.h-bg-black {
  &:hover {
    background-color: $black !important;
  }
}

.h-bg-magenta {
  &:hover {
    background-color: $magenta !important;
  }
}

/* :::COLORES DE HOVERS PARA TEXTO::: */

.h-txt-white {
  &:hover {
    color: $white !important;
    font-weight: bold !important;
  }
}

.h-txt-red {
  &:hover {
    color: $red !important;
    font-weight: bold !important;
  }
}

.h-txt-orange {
  &:hover {
    color: $orange !important;
    font-weight: bold !important;
  }
}

.h-txt-yellow {
  &:hover {
    color: $yellow !important;
    font-weight: bold !important;
  }
}

.h-txt-fuchsia {
  &:hover {
    color: $fuchsia !important;
    font-weight: bold !important;
  }
}

.h-txt-green {
  &:hover {
    color: $green !important;
    font-weight: bold !important;
  }
}

.h-txt-turquoise {
  &:hover {
    color: $turquoise !important;
    font-weight: bold !important;
  }
}

.h-txt-gray {
  &:hover {
    color: $gray !important;
    font-weight: bold !important;
  }
}

.h-txt-silver {
  &:hover {
    color: $silver !important;
    font-weight: bold !important;
  }
}

.h-txt-lightblue {
  &:hover {
    color: $lightblue !important;
    font-weight: bold !important;
  }
}

.h-txt-black {
  &:hover {
    color: $black !important;
    font-weight: bold !important;
  }
}

.h-txt-magenta {
  &:hover {
    color: $magenta !important;
    font-weight: bold !important;
  }
}

.h-txt-blue {
  &:hover {
    color: $blue !important;
    font-weight: bold !important;
  }
}

/* :::COLORES DE HOVERS PARA BORDER::: */

.h-b-white {
  &:hover {
    border: 1px solid $white !important;
  }
}

.h-b-red {
  &:hover {
    border: 1px solid $red !important;
  }
}

.h-b-orange {
  &:hover {
    border: 1px solid $orange !important;
  }
}

.h-b-yellow {
  &:hover {
    border: 1px solid $yellow !important;
  }
}

.h-b-fuchsia {
  &:hover {
    border: 1px solid $fuchsia !important;
  }
}

.h-b-green {
  &:hover {
    border: 1px solid $green !important;
  }
}

.h-b-turquoise {
  &:hover {
    border: 1px solid $turquoise !important;
  }
}

.h-b-gray {
  &:hover {
    border: 1px solid $gray !important;
  }
}

.h-b-silver {
  &:hover {
    border: 1px solid $silver !important;
  }
}

.h-b-lightblue {
  &:hover {
    border: 1px solid $lightblue !important;
  }
}

.h-b-black {
  &:hover {
    border: 1px solid $black !important;
  }
}

.h-b-magenta {
  &:hover {
    border: 1px solid $magenta !important;
  }
}

.h-b-blue {
  &:hover {
    border: 1px solid $blue !important;
  }
}

