/* :::COLORES DE FONDO::: */
.bg-white {
  background-color: $white;
}
.bg-red {
  background-color: $red;
}
.bg-turquoise {
  background-color: $turquoise;
}
.bg-blue {
  background-color: $blue;
}
.bg-yellow {
  background-color: $yellow;
}
.bg-orange {
  background-color: $orange;
}
.bg-green {
  background-color: $green;
}
.bg-magenta {
  background-color: $magenta;
}
.bg-black {
  background-color: $black;
}
.bg-fuchsia {
  background-color: $fuchsia;
}
.bg-lightblue {
  background-color: $lightblue;
}
.bg-silver {
  background-color: $silver;
}
.bg-gray {
  background-color: $gray;
}

/* :::COLORES DE TEXTO::: */

.txt-white {
  color: $white;
}
.txt-red {
  color: $red;
}
.txt-turquoise {
  color: $turquoise;
}
.txt-blue {
  color: $blue;
}
.txt-yellow {
  color: $yellow;
}
.txt-orange {
  color: $orange;
}
.txt-green {
  color: $green;
}
.txt-magenta {
  color: $magenta;
}
.txt-black {
  color: $black;
}
.txt-fuchsia {
  color: $fuchsia;
}
.txt-lightblue {
  color: $lightblue;
}
.txt-silver {
  color: $silver;
}
.txt-gray {
  color: $gray;
}

/*BOTONES*/

.btn-white {
  background-color: $white;
}

.btn-red {
  background-color: $red;
}

.btn-turquoise {
  background-color: $turquoise;
}

.btn-blue {
  background-color: $blue;
}

.btn-yellow {
  background-color: $yellow;
  border-radius: $btn-border-radius;
  padding: $btn-padding;
  border: 0px;
  font-weight: $btn-font-weight;
}

.btn-orange {
  background-color: $orange;
}

.btn-green {
  background-color: $green;
}

.btn-magenta {
  background-color: $magenta;
}

.btn-black {
  background-color: $black;
}

.btn-fuchsia {
  background-color: $fuchsia;
  border-radius: $btn-border-radius;
  padding: $btn-padding;
  border: 0px;
  font-weight: $btn-font-weight;
  color: $white;
  letter-spacing: 0.5px;
  font-family: $din-round-pro;
}

.btn-lightblue {
  background-color: $lightblue;
}

.btn-silver {
  background-color: $silver;
}

.btn-gray {
  background-color: $gray;
}
