/* :::COLORES DE FONDO::: */

.bg-white {
  background-color: $white !important;
}
.bg-red {
  background-color: $red !important;
}
.bg-turquoise {
  background-color: $turquoise !important;
}
.bg-blue {
  background-color: $blue !important;
}
.bg-yellow {
  background-color: $yellow !important;
}
.bg-orange {
  background-color: $orange !important;
}
.bg-green {
  background-color: $green !important;
}
.bg-magenta {
  background-color: $magenta !important;
}
.bg-black {
  background-color: $black !important;
}
.bg-fuchsia {
  background-color: $fuchsia !important;
}
.bg-lightblue {
  background-color: $lightblue !important;
}
.bg-silver {
  background-color: $silver !important;
}
.bg-gray {
  background-color: $gray !important;
}

/* :::COLORES DE TEXTO::: */

.txt-white {
  color: $white;
}
.txt-red {
  color: $red;
}
.txt-turquoise {
  color: $turquoise;
}
.txt-blue {
  color: $blue;
}
.txt-yellow {
  color: $yellow;
}
.txt-orange {
  color: $orange;
}
.txt-green {
  color: $green;
}
.txt-magenta {
  color: $magenta;
}
.txt-black {
  color: $black;
}
.txt-fuchsia {
  color: $fuchsia;
}
.txt-lightblue {
  color: $lightblue;
}
.txt-lightsilver {
  color: $lightsilver;
}
.txt-silver {
  color: $silver;
}
.txt-gray {
  color: $gray;
}

/* :::COLORES DE BOTONES::: */

.btn-white {
  background-color: $white;
}

.btn-red {
  background-color: $red;
}

.btn-turquoise {
  background-color: $turquoise;
}

.btn-blue {
  background-color: $blue;
}

.btn-yellow {
  background-color: $yellow;
}

.btn-orange {
  background-color: $orange;
}

.btn-green {
  background-color: $green;
}

.btn-magenta {
  background-color: $magenta;
}

.btn-black {
  background-color: $black;
}

.btn-fuchsia {
  background-color: $fuchsia;
}

.btn-lightblue {
  background-color: $lightblue;
}

.btn-silver {
  background-color: $silver;
}

.btn-gray {
  background-color: $gray;
}

/* :::COLORES DE HOVERS PARA BACKGROUND::: */

.h-bg-opacity0 {
  &:hover {
    opacity: 0;
  }
}

.h-bg-opacity4 {
  &:hover {
    opacity: 0.4;
  }
}

.h-bg-opacity8 {
  &:hover {
    opacity: 0.8;
  }
}

.h-bg-blue {
  &:hover {
    background-color: $blue;
  }
}

.h-bg-white {
  &:hover {
    background-color: $white;
  }
}

.h-bg-red {
  &:hover {
    background-color: $red;
  }
}

.h-bg-orange {
  &:hover {
    background-color: $orange;
  }
}

.h-bg-yellow {
  &:hover {
    background-color: $yellow;
  }
}

.h-bg-fuchsia {
  &:hover {
    background-color: $fuchsia;
  }
}

.h-bg-green {
  &:hover {
    background-color: $green;
  }
}

.h-bg-turquoise {
  &:hover {
    background-color: $turquoise;
  }
}

.h-bg-gray {
  &:hover {
    background-color: $gray;
  }
}

.h-bg-silver {
  &:hover {
    background-color: $silver;
  }
}

.h-bg-lightblue {
  &:hover {
    background-color: $lightblue;
  }
}

.h-bg-black {
  &:hover {
    background-color: $black;
  }
}

.h-bg-magenta {
  &:hover {
    background-color: $magenta;
  }
}

/* :::COLORES DE HOVERS PARA TEXTO::: */

.h-txt-white {
  &:hover {
    color: $white;
    font-weight: bold;
  }
}

.h-txt-red {
  &:hover {
    color: $red;
    font-weight: bold;
  }
}

.h-txt-orange {
  &:hover {
    color: $orange;
    font-weight: bold;
  }
}

.h-txt-yellow {
  &:hover {
    color: $yellow;
    font-weight: bold;
  }
}

.h-txt-fuchsia {
  &:hover {
    color: $fuchsia;
    font-weight: bold;
  }
}

.h-txt-green {
  &:hover {
    color: $green;
    font-weight: bold;
  }
}

.h-txt-turquoise {
  &:hover {
    color: $turquoise;
    font-weight: bold;
  }
}

.h-txt-gray {
  &:hover {
    color: $gray;
    font-weight: bold;
  }
}

.h-txt-silver {
  &:hover {
    color: $silver;
    font-weight: bold;
  }
}

.h-txt-lightblue {
  &:hover {
    color: $lightblue;
    font-weight: bold;
  }
}

.h-txt-black {
  &:hover {
    color: $black;
    font-weight: bold;
  }
}

.h-txt-magenta {
  &:hover {
    color: $magenta;
    font-weight: bold;
  }
}

.h-txt-blue {
  &:hover {
    color: $blue;
    font-weight: bold;
  }
}

/* :::COLORES DE HOVERS PARA BORDER::: */

.h-b-white {
  &:hover {
    border: 1px solid $white;
  }
}

.h-b-red {
  &:hover {
    border: 1px solid $red;
  }
}

.h-b-orange {
  &:hover {
    border: 1px solid $orange;
  }
}

.h-b-yellow {
  &:hover {
    border: 1px solid $yellow;
  }
}

.h-b-fuchsia {
  &:hover {
    border: 1px solid $fuchsia;
  }
}

.h-b-green {
  &:hover {
    border: 1px solid $green;
  }
}

.h-b-turquoise {
  &:hover {
    border: 1px solid $turquoise;
  }
}

.h-b-gray {
  &:hover {
    border: 1px solid $gray;
  }
}

.h-b-silver {
  &:hover {
    border: 1px solid $silver;
  }
}

.h-b-lightblue {
  &:hover {
    border: 1px solid $lightblue;
  }
}

.h-b-black {
  &:hover {
    border: 1px solid $black;
  }
}

.h-b-magenta {
  &:hover {
    border: 1px solid $magenta;
  }
}

.h-b-blue {
  &:hover {
    border: 1px solid $blue;
  }
}

