@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* :::MEDIDAS FONT SIZE::: */

.font-s {
    font-size: $small;
}

.font-xs {
    font-size: $x-small;
}

.font-xxs {
    font-size: $xx-small;
}

.font-m {
    font-size: $medium;
}

.font-l {
    font-size: $large;
}

.font-xl {
    font-size: $x-large;
}

.font-xxl {
    font-size: $xx-large;
}


