* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* :::DISPLAY::: */

.d-flex {
  display: flex !important;
}

.d-contents {
  display: contents !important;
}

.d-block {
  display: block !important;
}

.d-none {
  display: none !important;
}

.d-flexbox {
  display: flexbox !important;
}

.d-flow-root {
  display: flow-root !important;
}

.d-list-item {
  display: list-item !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.d-inline-flexbox {
  display: inline-flexbox !important;
}

.d-inline-table {
  display: inline-table !important;
}

/* :::FLEX BTNS::: */

.btn-flex-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.views-docs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.flex-avatar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-right: 1rem;
}

.flex-logo-avatar-nav {
  display: flex;
  align-items: center;
  width: -webkit-fill-available;
  justify-content: space-between;
}

.grid-responsive-docs {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: start;
  align-items: start;
  align-content: center;
}

.grid-responsive-docs-filtercard {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: start;
  align-items: start;
  align-content: center;
}

.grid-responsive-docs-filterform {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: start;
  align-items: start;
  align-content: center;
}

.flex-responsive-docs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flex-btns-docs {
  display: flex;
}

.flex-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.flex-filternav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 0 1rem;
  z-index: 100;
}

.flex-filtertitle {
  display: flex;
  align-items: center;
  z-index: 100;
}


@media screen and (max-width: 768px) {
  .grid-responsive-docs-filtercard {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: center;
    align-items: center;
  }
}
