* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*FLEX BTN*/

.btn-flex-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.views-docs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.flex-avatar-nav {
  display: flex;
  gap: 2rem;
  margin-right: 1rem;
}

.flex-logo-avatar-nav {
  display: flex;
  align-items: center;
  width: -webkit-fill-available;
  justify-content: space-between;
}
