* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* :::FLEX BTNS::: */

.btn-flex-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.views-docs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.flex-avatar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-right: 1rem;
}

.flex-logo-avatar-nav {
  display: flex;
  align-items: center;
  width: -webkit-fill-available;
  justify-content: space-between;
}

.grid-responsive-docs {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: start;
  align-items: start;
  align-content: center;
}

.grid-responsive-docs-filtercard {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: start;
  align-items: start;
  align-content: center;
}

.grid-responsive-docs-filterform {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: start;
  align-items: start;
  align-content: center;
}

.flex-responsive-docs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flex-btns-docs {
  display: flex;
}

.flex-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media screen and (max-width: 768px) {
  .grid-responsive-docs-filtercard {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: center;
    align-items: center;
  }
}
