/* :::OVERFLOW::: */

.o-overlay {
  overflow: overlay;
}

.o-scroll {
  overflow: scroll;
}

.o-hidden {
  overflow: hidden;
}

.o-auto {
  overflow: auto;
}

.o-clip {
  overflow: clip;
}

.o-visible {
  overflow: visible;
}

.owrap-break-word {
  overflow-wrap: break-word;
}

/* :::OVERFLOW - Y::: */

.oy-overlay {
  overflow-y: overlay;
}

.oy-scroll {
  overflow-y: scroll;
}

.oy-hidden {
  overflow-y: hidden;
}

.oy-auto {
  overflow-y: auto;
}

.oy-clip {
  overflow-y: clip;
}

.oy-visible {
  overflow-y: visible;
}

/* :::OVERFLOW - X::: */

.ox-overlay {
  overflow-x: overlay;
}

.ox-scroll {
  overflow-x: scroll;
}

.ox-hidden {
  overflow-x: hidden;
}

.ox-auto {
  overflow-x: auto;
}

.ox-clip {
  overflow-x: clip;
}

.ox-visible {
  overflow-x: visible;
}
