/*::: Z-INDEX:::*/

.zi-100 {
  z-index: 100;
}

.zi-200 {
  z-index: 200;
}

.zi-300 {
  z-index: 300;
}

/* :::POSSITIONS::: */

.p-static {
  position: static !important;
}

.p-relative {
  position: relative !important;
}

.p-absolute {
  position: absolute !important;
}

.p-fixed {
  position: fixed !important;
}

.p-sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
}

/* :::TOP::: */

.top-0 {
  top: 0 !important;
}

.top-50 {
  top: 50% !important;
}

.top-100 {
  top: 100% !important;
}

/* :::BOTTOM::: */

.bottom-0 {
  bottom: 0 !important;
}

.bottom-50 {
  bottom: 50% !important;
}

.bottom-100 {
  bottom: 100% !important;
}

/* :::START::: */

.start-0 {
  left: 0 !important;
}

.start-50 {
  left: 50% !important;
}

.start-100 {
  left: 100% !important;
}

/* :::END::: */

.end-0 {
  right: 0 !important;
}

.end-50 {
  right: 50% !important;
}

.end-100 {
  right: 100% !important;
}

/* :::TRANSLATE-MIDDLE::: */

.translate-middle {
  transform: translate(-50%, -50%) !important;
}

.translate-middle-x {
  transform: translateX(-50%) !important;
}

.translate-middle-y {
  transform: translateY(-50%) !important;
}

/* :::POSSITIONS DROPDOWN::: */

.dropup,
.dropend,
.dropdown,
.dropstart {
  position: relative;
}

.dropdown {
  .dropdown-menu {
    top: 100%;
    bottom: auto;
    margin-bottom: 0;
    right: 0;
  }
  .dropdown-toggle::after {
    display: none;
  }
}

.dropup {
  .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-top: 0;
  }
  .dropdown-toggle::after {
    display: none
  }
}

.dropend {
  .dropdown-menu {
    top: 0;
    right: auto;
    left: 100%;
    margin-top: 0;
  }
  .dropdown-toggle::after {
    display: none;
  }
}

.dropstart {
  .dropdown-menu {
    top: 0;
    right: 100%;
    left: auto;
    margin-top: 0;
  }
  .dropdown-toggle::after {
    display: none;
  }
}

.dropstart {
  .dropdown-menu {
    min-width: 160px;
  }
}
.dropdown {
  .dropdown-menu {
    min-width: 160px;
  }
}
.dropup {
  .dropdown-menu {
    min-width: 160px;
  }
}
.dropend {
  .dropdown-menu {
    min-width: 160px;
  }
}
