/* :::COLORES::: */
$white: #f9f6f2;
$red: #ff3333;
$turquoise: #36c9cc;
$blue: #3366cc;
$yellow: #f9cf1c;
$orange: #ff6700;
$green: #22bc22;
$magenta: #eb3cec;
$black: #0f0f0f;
$fuchsia: #de0d45;
$lightblue: #deebff;
$silver: #c4c4c4;
$gray: #303c54;

$din-round-pro: DIN Round Pro;

/*SCROLL*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb{
  background: $silver;
  border-radius: 10px;
}

::-webkit-scrollbar{
  background: rgba(128, 128, 128, 0);
}

/*NAVBAR Y SIDEBAR*/
$header-height: 4rem;
$nav-width: 64px;

/*botones*/
$btn-border-radius: 15px;
$btn-padding: 0.375rem 0.75rem;
$btn-font-weight: bold;

.btn-width {
  width: min-content;
}

/*SPAN*/

.span {
  padding: 0.3rem;
}

.span-width {
  width: 100%;
}



