/* :::COLORES::: */
$white: #f9f6f2;
$red: #ff3333;
$turquoise: #36c9cc;
$blue: #3366cc;
$yellow: #f9cf1c;
$orange: #ff6700;
$green: #22bc22;
$magenta: #eb3cec;
$black: #0f0f0f;
$fuchsia: #de0d45;
$lightblue: #deebff;
$silver: #c4c4c4;
$gray: #303c54;

$din-round-pro: DIN Round Pro;

/*NAVBAR Y SIDEBAR*/
$header-height: 4rem;
$nav-width: 64px;

/*botones*/
$btn-border-radius: 5px;
$btn-padding: 0.5em 1em;
$btn-font-weight: bold;
