/* :::WIDTH::: */

.w-auto {
  width: auto;
}

.w-fit-content {
  width: fit-content;
}

.w-min-content {
  width: min-content;
}

.w-max-content {
  width: max-content;
}

.w-webkit-fill-available {
  width:-webkit-fill-available;
}

.w-50p {
  width: 50%;
}

.w-100p {
  width: 100%;
}

.w-100vh {
  width: 100vh;
}


/* :::HEIGHT::: */

.h-auto {
  height: auto;
}

.h-fit-content {
  height:fit-content;
}

.h-min-content {
  height: min-content;
}

.h-max-content {
  height: max-content;
}

.h-50p {
  height: 50%;
}

.h-100p {
  height: 100%;
}

.h-100vh {
  height: 100vh;
}

.h-123px {
  height: 123px;
}

.h-155px {
  height: 155px;
}


